---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<table>
<tr>
  <td></td>
  <td>
<h1>Kalyani</h1>
<image src='/img/kalyani_for_blog.png'/>
<section>
<h2>About me</h2>

I am a software engineer, always trying to keep-up.  You can see my resume at 
<a>https://www.linkedin.com/in/kalyani-sundaresan-335b66196/</a>

A few months ago I decided I want to learn Domain Driven Design, and so I read the DDD-bible.  Now,
I want to write about my experience in reading that book and what I learnt, with examples.  

My passions are - Domain Driven Design,  Observability, and Data quality

The journey begins

</section>
</table>
<section>
{% set maxPosts = collections.posts.length | min(3) %}
<h2>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
</section>
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</td>
<td></td>
</tr>
</table>
